* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.container {
    margin: 50px auto;
    max-width: 900px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #0056b3;
    margin-bottom: 30px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


label {
    font-weight: bold;
    color: #333;
}


input[type="text"],
select {
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

input[type="text"]:focus,
select:focus {
    border-color: #0056b3;
    outline: none;
}


.form-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


button[type="submit"] {
    background-color: #0056b3;
    color: #ffffff;
}

button[type="submit"]:hover {
    background-color: #004494;
    transform: scale(1.05);
}

button[type="button"] {
    background-color: #cccccc;
    color: #333333;
}

button[type="button"]:hover {
    background-color: #bbbbbb;
    transform: scale(1.05);
}


.user-list {
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}


.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}


.user h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}


.user button {
    background-color: #f44336;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


.user .editar-usuario {
    background-color: #0056b3;
    margin-right: 10px;
}

.user .editar-usuario:hover {
    background-color: #004494;
}


.user button:hover {
    background-color: #d32f2f;
}


.header {
    background-color: #0056b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    border-bottom: 2px solid #e0e0e0;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 50px;
    width: auto;
    transition: transform 0.3s;
    border-radius: 10px;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links li {
    padding: 0 10px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
    transition: color 0.3s;
}

.header .nav-links a:hover {
    color: #ffbc0e;
}
